vendor/
/log/*.log*
/tmp/*
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
/tmp/pids/*.pid
/tmp/storage/*
!/tmp/storage/.keep

# Ignore key files for decrypting credentials and more.
/config/credentials/*.key

/app/assets/builds/*
!/app/assets/builds/.keep
